# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Bases de datos
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Reportes generados
reports/generated/

# Datos temporales
data/temp/